Body{
    font-family:'Source Sans Pro', 'sans-serif';
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.secao-topo {
    background-color:#fff;
    max-width:1524px;
    min-width: 1024px;
    position:fixed;
    top:0;
    z-index: 1;
    width:100%;
    height:80px;
}

.link-principal{
    color:#4f4b5c;
    font-weight:600;
    font-size:36px;
    text-decoration:none;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.secao-topo h2{
    font-size:28px;
    position:absolute;
    left:100px;
    top:5px;
}

.container-topo{
    max-width:1524px;
    min-width: 1024px;
    width:100%;
    margin:auto;
    position:relative;
}

.menu-navegacao{
    position:absolute;
    right:100px;
    top:25px;
}

.menu-navegacao a{
    margin:auto auto auto 30px;
    font-size:18px;
    font-weight:600;
    text-decoration:none;
    color:#2d8d70;
}

.destaque{
    color:rgb(60, 141, 216);
}

.secao-contato{
    width:100%;
    height:220px;
    box-sizing: border-box;
    background-color:#2d8d70;
    color:#fff;
    border:2px solid #0a9854;
    margin: 0px auto;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    
}
.secao-contato p{
    font-size:14px;
    margin:10px auto;
    text-align:center;
}

.secao-contato h2{
    font-size:18px;
    margin-top:20px;
    text-align:center;
}

.contato-titulo{
    
    width:12%;
    height:80px;
}

.contato-titulo h2{
    font-size: 22px;
    text-align: center;
}

.secao-contato img{
    width:35px;
    height:35px;
}

.subcontainer-contato{
    width:22%;
    height:65px;
    display: flex;
    justify-content:flex-start;
}

.subcontainer-contato p{
    font-size:18px;
    text-align: center;
    margin:20px 0px;
}

.imagem-contato-logo{
    width:16%;
    height:45px;
    margin-top: 10px;
    padding-left:4px;
}


.rodape{
    background-color:#2d8d72;
    color:#fff;
    height:80px;
    width:100%;
    border-top: 2px solid #383434; 
    text-align:center;
    margin:0px auto;
}

.rodape copyright p{
    font-size:16px;
    text-align:center;
    margin: 40px auto 0;
}

.banner-quartos {
    background-image: url(assets/img-fundo.jpg);
    background-position:top;
    background-size: cover;
    width:100%;
    height:270px;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.secao-conteudo-quartos{
    max-width:1524px;
    width:100%;
    height:70vh;
    min-width: 1024px;
    margin: 0 auto;
    padding:20px auto;
    background-color:#fff;
    box-sizing:border-box;
    text-align:center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    gap:5px;
    position: relative;
    border: 1px solid #fff;
}

.secao-conteudo-quartos img{
    width:400px;
    height:220px;
    margin: 10px 15px;
}

.subcontainer-descricao{
    width:30%;
    height:120px;
    box-sizing: border-box;
    text-align:center;
    position: absolute;
    padding:20px;
    margin:25px auto;
    top:10px;
    left:35%;
    border: 1px solid #fff;
}

.subcontainer-descricao h2{
    font-size:28px;
    color:#303634;
    margin-bottom:5px;
}

.subcontainer-descricao p{
    font-size:18px;
    color:#4f4b5c;
    margin:20px 0;
}

.galeria-quartos{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
    gap:10px;
    margin:200px auto 0 auto;
    box-sizing: border-box;
}

.lista-quartos{
    width:100%;
    height:250px;
    border: 1px solid #fff;
    margin: 0px auto;
    box-sizing: border-box;
}


.lista-quartos h2{
    font-size:24px;
    margin:20px auto;
    text-align:center;
}

.lista-informacoes{
   max-width: 1024px; 
   width:50%;
   height:100px;
   border: 1px solid #fff;
   margin: 10px auto; 
   text-shadow: 0px 1px 1px #51577d;
   display: flex; 
   flex-direction: column; 
   align-items: flex-start;
   flex-wrap: wrap;
   gap: 40px; 
   align-items: left;
}


