Body{
    font-family:'Source Sans Pro', 'sans-serif';
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.secao-topo {
    background-color:#fff;
    max-width:1524px;
    min-width: 1024px;
    position:fixed;
    top:0;
    z-index: 1;
    width:100%;
    height:80px;
}

.link-principal{
    color:#4f4b5c;
    font-weight:600;
    font-size:36px;
    text-decoration:none;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.secao-topo h2{
    font-size:28px;
    position:absolute;
    left:100px;
    top:5px;
}

.container-topo{
    max-width:1524px;
    min-width: 1024px;
    width:100%;
    margin:auto;
    position:relative;
}

.menu-navegacao{
    position:absolute;
    right:100px;
    top:25px;
}

.menu-navegacao a{
    margin:auto auto auto 30px;
    font-size:18px;
    font-weight:600;
    text-decoration:none;
    color:#2d8d70;
}

.destaque{
    color:rgb(60, 141, 216);
}

