Body{
    font-family:'Source Sans Pro', 'sans-serif';
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.secao-topo {
    background-color:#fff;
    z-index: 1;
    width:100%;
    position: static;
    height: auto; 
    padding: 12px 0;
}

.link-principal{
    color:#4f4b5c;
    font-weight:600;
    font-size:36px;
    text-decoration:none;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.secao-topo h2{
    font-size:28px;
    position:absolute;
    left:100px;
    top:5px;
}

.container-topo{
    max-width:1524px;
    min-width: 1024px;
    width:100%;
    margin:auto;
    position:relative;
}

.menu-navegacao{
    position:absolute;
    right:100px;
    top:25px;
}

.menu-navegacao a{
    margin:auto auto auto 30px;
    font-size:18px;
    font-weight:600;
    text-decoration:none;
    color:#2d8d70;
}

.destaque{
    color:rgb(60, 141, 216);
}


.banner-fundo{
    background-image: url(Imagens/img-fundo.jpg);
    background-position: center;
    background-size: contain;
    width:100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position:relative;
}

.subcontainer-banner{
    background-color:rgb(157, 236, 232);
    color: white;
    text-align: center;
    border:2px solid #fff;
    width:30%;
    height:200px;
    margin:auto;
    position:absolute;
    top:320px;
    left:500px;
    background-color: #0a9077b3;
   
}

.subcontainer-banner h1{
    padding-top:20px;
    font-size:48px;
    font-weight:bold;
}

.subcontainer-banner p{
    font-size:25px;
    color:#fff;
    padding:10px;
}

.secao-conteudo{
    max-width:1524px;
    width:100%;
    height:90vh;
    min-width: 1024px;
    margin:auto 0;
    background-color:#fff;
    box-sizing:border-box;
}

.container-conteudo{
    width:100%;
    text-align:center;
    width:70%;
    padding: 15px auto;
    margin:80px auto 30px auto;
}

.container-conteudo h2{
    font-size:32px;
    color:#2d8d70;
    margin-bottom:10px;
}

.container-conteudo p{
    font-size:18px;
    color:#4f4b5c;
    margin:20px 0;
}

.subcontainer-card img{
    width:400px;
    height:300px;

}

.subcontainer-card h3 a{
    font-size:24px;
    color:#4f4b5c;
    text-decoration:none;
    margin-top:20px;
}

.subcontainer-card h3{
    border-bottom:2px solid #2d8d72;
    padding-bottom:20px; 
    text-align:center;
}

.container-card{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
}

.subcontainer-card{
    width:28%;
    margin:0 10px;
    box-sizing: border-box;
    padding:10px;
    text-align:center;
}

.secao-mapa{
    max-width:1524px;
    width:100%;
    height:90vh;
    min-width: 1024px;
    margin:auto ;
    background-color:#fff;
    box-sizing:border-box;
    padding-bottom:30px;
    text-align:center;
    border: 2px solid #fff;
}

.secao-mapa h2{
    font-size:30px;
    color:#2d8d70;
    margin-top:20px;
}

iframe{
    width:100%;
    margin:auto;
    box-sizing: border-box;
}

.secao-mapa p{
    font-size:20px;
    color:#4f4b5c;
    margin:40px 0;
}

.secao-sobre{
    max-width:1524px;
    width:100%;
    height:600px;
    max-height:900px;
    overflow: auto;
    margin: 10px auto 5px auto;
    background-color:#fff;
    box-sizing:border-box;
    text-align:center;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:5px;
}

.titulo-container{
    position:absolute;
    top:0;
    margin-bottom:10px;
}

.secao-sobre h2{
    font-size:30px;
    color:#2d8d70;
    margin:20px auto;
}

.secao-sobre p{
    font-size:18px;
    color:#4f4b5c;
    margin:20px auto;
}

.secao-sobre img{
    width:120px;
    height:90px;
}


.container-sobre{
    width:440px;
    height:180px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 25px 0px;
    position: relative;
}

.card-destaque {
    padding:5px;
    border:1px solid #fff;
    text-align:left;
    width:280px;
    height:140px;
}

.card-destaque h3{
    font-size:18px;
    color:#4f4b5c;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    margin-bottom:5px;
}

.card-destaque p{
    font-size:16px;
    color:#4f4b5c;
    margin-right: 8px;
    text-shadow: 0px 1px 0px #4f4b5c;
}

.card-imagem img{
    width:140px;
    height:160px;
    position: absolute;
    right:0;
    top:25px;
    border: 1px solid #fff;
}

.secao-contato{
    width:100%;
    height:220px;
    box-sizing: border-box;
    background-color:#2d8d70;
    color:#fff;
    border:2px solid #0a9854;
    margin: 0px auto;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    
}
.secao-contato p{
    font-size:14px;
    margin:10px auto;
    text-align:center;
}

.secao-contato h2{
    font-size:18px;
    margin-top:20px;
    text-align:center;
}

.contato-titulo{
    
    width:12%;
    height:80px;
}

.contato-titulo h2{
    font-size: 22px;
    text-align: center;
}

.secao-contato img{
    width:35px;
    height:35px;
}

.subcontainer-contato{
    width:22%;
    height:65px;
    display: flex;
    justify-content:flex-start;
}

.subcontainer-contato p{
    font-size:18px;
    text-align: center;
    margin:20px 0px;
}

.imagem-contato-logo{
    width:16%;
    height:45px;
    margin-top: 10px;
    padding-left:4px;
}


.rodape{
    background-color:#2d8d72;
    color:#fff;
    height:80px;
    width:100%;
    border-top: 2px solid #383434; 
    text-align:center;
    margin:0px auto;
}

.rodape copyright p{
    font-size:16px;
    text-align:center;
    margin: 40px auto 0;
}

